<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
        <Appenders>
                <Console name="CONSOLE" target="SYSTEM_OUT">
                        <PatternLayout pattern="%d [%t] [%c{1}] %-5p - %m%n" />
                </Console>
                <RollingFile name="ROLLING_FILE" fileName="${sys:base.dir}/logs/notification_gateway.log"
                        filePattern="${sys:base.dir}/logs/notification_gateway-%d{MM-dd-yyyy}-%i.log.gz">
                        <PatternLayout pattern="%d [%t] [%c{1}] %-5p - %m%n" />
                        <Policies>
                                <TimeBasedTriggeringPolicy />
                                <SizeBasedTriggeringPolicy size="250 MB" />
                        </Policies>
                        <DefaultRolloverStrategy>
                                <Delete basePath="${sys:base.dir}" maxDepth="2">
                                        <IfFileName glob="crpgateway-*.log.gz" />
                                        <IfLastModified age="30d" />
                                </Delete>
                        </DefaultRolloverStrategy>
                </RollingFile>
                <RollingFile name="ROLLING_ERR_FILE" fileName="${sys:base.dir}/logs/notification_gateway.err.log"
                        filePattern="${sys:base.dir}/logs/notification_gateway.err-%d{MM-dd-yyyy}-%i.log.gz">
                        <ThresholdFilter level="ERROR" onMatch="ACCEPT"
                                onMismatch="DENY" />
                        <PatternLayout pattern="%d [%t] [%c{1}] %-5p - %m%n" />
                        <Policies>
                                <TimeBasedTriggeringPolicy />
                                <SizeBasedTriggeringPolicy size="250 MB" />
                        </Policies>
                        <DefaultRolloverStrategy>
                                <Delete basePath="${sys:base.dir}" maxDepth="2">
                                        <IfFileName glob="notification_gateway.err-*.log.gz" />
                                        <IfLastModified age="30d" />
                                </Delete>
                        </DefaultRolloverStrategy>
                </RollingFile>
        </Appenders>
        <Loggers>
                <!-- <Logger name="org.springframework.web" level="debug" /> -->
                <!-- <Logger name="org.springframework.web.servlet" level="debug" /> -->
                <!-- <Logger name="org.hibernate.type" level="trace" /> -->
                <Logger name="com.ctc.demo.notificationGateway.utils.CTCLogger" level="debug" />
                <Logger name="com.ctc.demo.notificationGateway.utils" level="info" />
                <logger name="org.springframework" level="info" />
                <Root level="info">
                        <AppenderRef ref="CONSOLE" />
                        <AppenderRef ref="ROLLING_FILE" />
                        <AppenderRef ref="ROLLING_ERR_FILE" />
                </Root>
        </Loggers>
</Configuration>
